<footer>
    <div class="rodape">
        <div class="container-fluid6">
            <div class="row g-0" id="respc">
                <div class="col-4">
                   <br><h3>categorias</h3>
                    <nav class="links" >
                        <a class="links" href="celulares.html"><p>celulares</p></a> 
                        <a class="links" href="games.html"><p>games</p></a>
                        <a class="links" href="informatica.html"><p>informática</p></a>
                    </nav>
                </div>
                <div class="col-4">
                    <br><h3>contato</h3>
                    <nav class="links" >
                        <p>telefone : xxxxxxx</p>
                        <p>endereço : xxxxxxx</p>
                        <p>localização : xxxxxxx</p>
                    </nav>
                </div>
                <div class="col-4">
                    <br><h3>social</h3>
                    <nav class="links" >
                      <a class="links" href="#"><img src="/assets/img/facebook.png" class="figure5" alt="logofacebook"><p>Facebook Game Mania </p> </a>
                      <a class="links" href="#"><img src="/assets/img/instagram.png" class="figure5" alt="logoinstagram"><p>Instagram Game Mania </p> </a>
                    </nav>
                </div>
            </div>
            <div class="row g-0" id="rescel">
                   <br><h3>categorias</h3>
                    <nav class="links" >
                        <a class="links" href="celulares.html"><p>celulares</p></a> 
                        <a class="links" href="games.html"><p>games</p></a>
                        <a class="links" href="informatica.html"><p>informática</p></a>
                    </nav>
                    <br><h3>contato</h3>
                    <nav class="links" >
                        <p>telefone : xxxxxxx</p>
                        <p>endereço : xxxxxxx</p>
                        <p>localização : xxxxxxx</p>
                    </nav>
                    <br><h3>social</h3>
                    <nav class="links" >
                      <a class="links" href="#"><img src="/assets/img/facebook.png" class="figure5" alt="logofacebook"><p>Facebook Game Mania </p> </a>
                      <a class="links" href="#"><img src="/assets/img/instagram.png" class="figure5" alt="logoinstagram"><p>Instagram Game Mania </p> </a>
                    </nav>
            </div>
        </div>
    </div>
</footer>