<body>
    <main>
        <div class="container-fluid5">
            <div class="row g-0">
                <div class="col-3" id="imgguerreiro">
                    <div class="img-esquerda">
                        <img src="https://cdn.pixabay.com/photo/2019/06/25/12/35/templar-4298112_960_720.jpg" alt="guerreiro">
                        <a class="textcomprar" href="carrinho.html"><h4>jogos singleplayer</h4></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="carrousel" id="img-carrousel" >
                        <div class="imgtexto"> 
                            <img src="https://cdn.pixabay.com/photo/2018/07/14/11/33/earth-3537401_960_720.jpg" alt="mundo-conectado"><h3>seja bem vindo a um mundo</h3>
                        </div>    
                        <div class="imgtexto"> 
                            <img src="https://cdn.pixabay.com/photo/2017/03/28/11/10/girl-2181709_960_720.jpg" alt="robô"><h3>de tecnologia</h3>
                       </div>
                        <div class="imgtexto"> 
                            <img src="https://cdn.pixabay.com/photo/2021/09/07/07/11/game-console-6603118_960_720.jpg" alt="controles"><h3>e diversão</h3>
                        </div>
                    </div>
                </div>
                <div class="col-3" id="imgcel">
                    <div class="img-esquerda" id="imgguerreiroc">
                        <img src="https://cdn.pixabay.com/photo/2019/06/25/12/35/templar-4298112_960_720.jpg" alt="guerreiro">
                        <a class="textcomprar" href="carrinho.html"><h4>jogos singleplayer</h4></a>
                    </div>
                    <div class="img-direita">
                        <img src="https://cdn.pixabay.com/photo/2013/02/25/04/37/basketball-85919_960_720.jpg" alt="time-jogadores">
                        <a class="textcomprar" href="carrinho.html"><h4>jogos multiplayer</h4></a>
                    </div>
                </div>
            </div>     
        </div>
        <div class="abapromocoes">
            <p class="solid"> <label>promoções</label>  </p>
        </div>
        <div class="centro" >
            <div class="container-fluid" id = "carousel1">
                <div class="row">
                    <div class="col-4">
                        <img src="/assets/img/dragon.jpg" class="figure2" alt="capa" >
                        <div class="textcentro" ><br>
                            <p>JOGO DE FANTASIA </p>
                            <p>R$290,00 </p>
                            <p>Até 10x de R$29,00 sem juros </p><br>
                                <a class="botao" href="carrinho.html"><p>comprar</p></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/mobile.png" class="figure2" alt="capa" >
                        <div class="textcentro" ><br>
                            <p>celular do ano </p>
                            <p>R$1000,00 </p>
                            <p>Até 10x de R$100,00 sem juros </p><br>
                                <a class="botao" href="carrinho.html"><p>comprar</p></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="https://images.pexels.com/photos/400678/pexels-photo-400678.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="figure2" alt="capa" >
                        <div class="textcentro"><br>
                            <p>computador gamer </p>
                            <p>R$2500,00 </p>
                            <p>Até 10x de R$250,00 sem juros </p><br>
                                <a class="botao" href="carrinho.html"><p>comprar</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id = "carousel2">
                <div class="row">
                    <div class="col-4">
                        <img src="https://cdn.pixabay.com/photo/2017/11/07/00/07/fantasy-2925250_960_720.jpg" class="figure2" alt="capa" >
                        <div class="textcentro" ><br>
                            <p>jogo de aventura </p>
                            <p>R$390,00 </p>
                            <p>até 10x de R$39,00 sem juros </p><br>
                            <a class="botao" href="carrinho.html"><p>comprar</p></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="https://cdn.pixabay.com/photo/2017/10/18/13/21/iphone-x-2864150_960_720.jpg" class="figure2" alt="capa" >
                        <div class="textcentro" ><br>
                            <p>celular Iphone x </p>
                            <p>R$2000,00 </p>
                            <p>até 10x de R$200,00 sem juros </p><br>
                                <a class="botao" href="carrinho.html"><p>comprar</p></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="https://cdn.pixabay.com/photo/2014/09/24/14/29/macbook-459196_960_720.jpg" class="figure2" alt="capa" >
                        <div class="textcentro"><br>
                            <p>notebook lançamento</p>
                            <p>R$2000,00 </p>
                            <p>Até 10x de R$200,00 sem juros </p><br>
                                <a class="botao" href="carrinho.html"><p>comprar</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id = "carousel3">
                <div class="row">
                    <div class="col-4">
                        <img src="https://cdn.pixabay.com/photo/2017/12/03/17/23/fantasy-2995326_960_720.jpg" class="figure2" alt="capa" >
                        <div class="textcentro" ><br>
                            <p>jogo de estratégia </p>
                            <p>R$150,00 </p>
                            <p>Até 10x de R$15,00 sem juros </p><br>
                                <a class="botao" href="carrinho.html"><p>comprar</p></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="https://cdn.pixabay.com/photo/2017/10/17/18/04/iphone-7-2861605_960_720.jpg" class="figure2" alt="capa" >
                        <div class="textcentro" ><br>
                            <p>celular gamer </p>
                            <p>R$3000,00 </p>
                            <p>Até 10x de R$300,00 sem juros </p><br>
                                <a class="botao" href="carrinho.html"><p>comprar</p></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="https://cdn.pixabay.com/photo/2020/06/07/07/23/online-learning-5269378_960_720.jpg" class="figure2" alt="capa" >
                        <div class="textcentro"><br>
                            <p>computador basic </p>
                            <p>R$1200,00 </p>
                            <p>Até 10x de R$120,00 sem juros </p><br>
                                <a class="botao" href="carrinho.html"><p>comprar</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="botoes"  id="botpromo">
                <button class="dot" onclick="promocao1()"></button>
                <button class="dot" onclick="promocao2()"></button>
                <button class="dot" onclick="promocao3()"></button>
            </div>   
        </div>
        <div class="abavendas">
            <div class="container-fluid4">
                <div class="row g-0">
                    <div class="col-4" >
                        <p class="solid2"> <label>Celular mais vendido </label> </p>
                    </div>
                    <div class="col-4" >
                        <p class="solid2"> <label>Informática mais vendido</label>  
                    </div>
                    <div class="col-4" >
                        <p class="solid2"> <label>Game mais vendido</label>  </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="centror">
            <div class="container-fluid3">
                <div class="row g-0">
                    <div class="col-4" >
                        <img src="/assets/img/celular.jpg" class="figure3" alt="figuracelular2" >
                        <div class="textcentro" ><br>
                            <p>celular basic </p>
                            <p>R$1500,00 </p>
                            <p>Até 10x de R$150,00 sem juros </p><br>
                                <a class="botao" href="carrinho.html"><p>comprar</p></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/headset.jpg" class="figure3" alt="figuraheadset" >
                        <div class="textcentro" ><br>
                            <p>headset gamer </p>
                            <p>R$100,00 </p>
                            <p>Até 10x de R$10,00 sem juros </p><br>
                                <a class="botao" href="carrinho.html"><p>comprar</p></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/war.jpg" class="figure3" alt="figurajogoguerra" >
                        <div class="textcentro"><br>
                            <p>jogo de guerra </p>
                            <p>R$120,00 </p>
                            <p>Até 10x de R$12,00 sem juros </p><br>
                                <a class="botao" href="carrinho.html"><p>comprar</p></a>
                        </div>
                    </div>
                </div>
            </div>             
        </div>
        <div class="abadepoimentos">
            <p class="solid"> <label>depoimentos</label>  </p>
        </div>
        <div class="depoimentos">
            <div id="depo1">
                <img src="/assets/img/pessoa.jpg" class="figure4" alt="figurapessoa" >
                        <div class="textcentro" >
                            <h6>josé </h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit nibh, efficitur eu lectus in, suscipit feugiat erat. </p>              
                        </div>
            </div>
            <div id="depo2">
                <img src="https://cdn.pixabay.com/photo/2017/12/25/14/56/reading-3038545_960_720.jpg" class="figure4" alt="figurapessoa" >
                            <div class="textcentro" >
                                <h6>maria </h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>              
                            </div>
            </div>
            <div id="depo3">
                <img src="https://cdn.pixabay.com/photo/2020/01/02/01/07/flat-4734747_960_720.jpg" class="figure4" alt="figurapessoa" >
                            <div class="textcentro" >
                                <h6>lucas </h6>
                                <p>Sed felis eget velit aliquet sagittis id consectetur purus. Aenean sed adipiscing diam donec adipiscing tristique risus nec. </p>              
                            </div>
            </div>
            

                <button id="seta1" onclick="bote()"></button>
                <button id="seta2" onclick="botd()"></button>
            
        </div>
    </main>
</body>
