main{background-image: linear-gradient(to right,#142B77  ,black 50% ,#142B77 );}

.container{
    height: 86.06vh;
    color: white;
    display:block;
    padding-top: 14.63vh;
    
    
    padding-bottom: 34.42vh;
    text-align: center;
    text-transform: capitalize;
}

form{border-style: inset;
margin-right: 8.30vw;
margin-left: 8.30vw;
padding-top: 8.61vh;
padding-bottom: 8.61vh;
background-color: darkslategrey;
border-color: red;

}


.cadastro{text-decoration: none;
    color: white;
    
}


@media screen and (max-width: 450px) {

    .container{
        height: 120.06vh;
    }
    
    .login{margin: 0;}
   
    
    
}