        <main>
            <div class="container">
                

                    <form (ngSubmit)="receberDados()" >

                        <label for="email">email</label>
                        <input type="email" id="email" [(ngModel)]="userModel.email" name="email"><br><br>

                        <label for="senha">senha</label>
                        <input type="password" id="senha" [(ngModel)]="userModel.password" name="password"><br><br>

                        <input type="submit" name="btn-enviar" required><br><br>

                        <p>ou</p>
                        <a class="cadastro" href="#">cadastre-se</a>
                        
                        <br><br>
                        
                    </form>
                <p id="mensagem" *ngIf=" mensagemerro != '' ">{{ mensagemerro }}</p>
                <p id="mensagemacerto" *ngIf=" mensagemacerto != '' ">{{ mensagemacerto }}</p>
               

                    
               
            </div>
        </main>
