*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    
}



h1{
    text-decoration: none;
    color: white;
    
    
}

.row{
    margin-right: 0;
    margin-left: 0;
    
}


Header{
    
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom,black 20%,#082E8F );
    
    
    
}



.abaprodutos{
    
    width: 100%;
    height: 100%;
    margin: 20px 0px 0px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    position: relative;
    
    
    display: flex;
    

}



.teste .abaprodutos a {
    
    bottom: 9px;
    
    justify-content: space-around;
    
    
    
}

p.inset {border-style: inset;
    width: 80%;
    height: 50%;
    
    display:inline-block

}

#buscador{
    width: 100%;
    height: 100%;
    background-color:transparent;
    color: white;
    display:inline-block
    
}



.carrinho{
    width: 40px;
    height: 40%;
    
    position: relative;
}

.login{display:inline-block ; margin: 0px 10px; text-decoration: none; color: white;}

.container-fluid .col-4{
    text-align: center;
    display: relative;
}

.lupa{

    width: 10%;
    height: 50%;
    
    
}

.teste{

    background-color: red;
    width: auto;
    height: 100%;
    
    background-image: linear-gradient(to bottom,#0637b4 5px,black 35px );
}


#barras{
    display: none;

}

#rescel{
    display: none;
}

#menucel{display: none;}
@media screen and (max-width: 450px) {
    #cadcompr {
        display: none;
        position: absolute;
        
        
        height: 80px;
        
    }

    .login{margin: 0;}

    #menucel{
        display: none;
        position: relative;
        
        width: 100%;
        
        
    }

    #respc{
        display: none;
    }

    #rescel{
        display: block;
    }



    #busca{
        display: none;
        position: relative;
        background-color: darkgreen;

        
    }

    #barras{
        display: flex;
        justify-content: right;
        align-items: center;
        text-align: right;
        
        
        
    }
    
    
}