<header>
    <div class="container-fluid " id="headgame">
        <div class="row">
            <div class="col-4">
               <br> <a routerLink=""><h1>game mania</h1></a>
            </div>
            <div class="col-4" id="busca">
               <br> <p class="inset" ><input type="search" id="buscador" placeholder="Digite aqui para pesquisar..."> </p> <img src="/assets/img/search3.png" class="lupa" alt="lupa">
            </div>
            <div class="col-4" id="cadcompr" >
                <nav class="login" >
                   <br> <a class="login" routerLink="/login">login</a>
                   <a class="carrinho" href="carrinho.html"><img src="/assets/img/carrinho.png" class="carrinho" alt="carrinho de compras"></a>
                </nav>
            </div>
            <div class="col-7" id = "barras">
                <img class="icone-menu" onclick="mostrarlogin()" src="/assets/img/bars.svg" alt="Ícone do menu de barras">
            </div>
        </div>
    </div>
    <div id="menucel">
        <div id="busca1">
           <br> <p class="inset" ><input type="search" id="buscador" placeholder="Digite aqui para pesquisar..."> </p> <img src="/assets/img/search3.png" class="lupa" alt="lupa">
        </div>
           <a class="abaprodutos" href="celulares.html">Celulares</a>
           <a class="abaprodutos" href="games.html">Games</a>
           <a class="abaprodutos" href="informatica.html">Informática</a>
           <a class="abaprodutos" href="contato.html">Contato</a>
           <div id="cadcompr1" >
            <nav class="login" >
               <br> <a class="login" routerLink="/login">login</a>
               <a class="carrinho" href="carrinho.html"><img src="/assets/img/carrinho.png" class="carrinho" alt="carrinho de compras"></a>
            </nav>
           </div>
   </div>
    <div class="teste" id="teste1">
        <nav class="abaprodutos">
            <a class="abaprodutos" href="celulares.html">Celulares</a>
            <a class="abaprodutos" href="games.html">Games</a>
            <a class="abaprodutos" href="informatica.html">Informática</a>
            <a class="abaprodutos" href="contato.html">Contato</a>
        </nav>  
    </div>
</header>
